/* Kleuren */
:root {
    color-scheme: light dark;
  
    --light: white;
    --light-code: tomato;
    --light-button: #f9ff1e;
    --light-filter-button:#464646;
    --light-hover-button:#000000;
    --light-hover-button-text:#ffffff;
    --light-form-field:#464646;
  
    --dark: black;
    --dark-code: gold;
    --dark-button: #ED3CBA;
    --dark-filter-button:#878787;
    --dark-hover-button:#ffffff;
    --dark-hover-button-text:#000000;
    --dark-form-field:#9c9c9c;

    --primary-button:rgba(255, 255, 255, .4); 
    --accent-grey: #464646;
    --accent-light-blue: #79aafa;
    --accent-pink: #ED3CBA;
    --accent-light-orange: #ffc200;
    --accent-yellow: #f9ff1e;
    --main-white:white;
    --main-black:black;

}

* {
    background-color: light-dark(var(--light), var(--dark));
    color: light-dark(var(--dark), var(--light));
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
	margin: 0;
	font-family: monospace;
}


  body {
	width: 100%;
	overflow-x: hidden;
  }
  
  .grid {
	view-transition-name: cards;
	display: grid;
	gap: 1em;
	grid-template-columns: repeat(7, 1fr);
	+ .grid {
	  margin-top: 1em;
	}
  }
  
  
  img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	aspect-ratio: 1;
  }
  
  header {
	display: flex;
	position: sticky;
	top: 0;
	z-index: 1000;
	background-color: ;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
  }
  
  svg {
	display: flex;
	justify-content: flex-start;
	width: 300px;
	z-index: 1005;
	background-color: light-dark(var(--light),var(--dark));
  }
  
  nav {
	background-color: light-dark(var(--light),var(--dark));
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 100px;
	width: 100%;
  }
  
  .nav-list {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 10px 0;
  }
  
  .nav-list li {
	margin: 0 15px;
  }
  
  .nav-list a {
	text-decoration: none;
	color: light-dark(var(--dark), var(--light));
	font-weight: bold;
	font-size: 1.5em;
  }
  
  .hamburger {
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 25px;
	background: none;
	border: none;
	cursor: pointer;
	z-index: 1001;
  }
  
  .hamburger-line {
	height: 3px;
	background-color:light-dark(var(--dark), var(--light));
	width: 100%;
	border-radius: 2px;
  }


/* .grid {
	transition: transform 0.3s ease;
  }
  
  .grid:hover {
	transform: scale(1.2); 
  }
  
   */
  @media (max-width: 1200px) {
	.grid {
	  grid-template-columns: repeat(5, 1fr);
	}
  }
  
  @media (max-width: 992px) {
	.grid {
	  grid-template-columns: repeat(4, 1fr);
	}
  }
  
  @media (max-width: 768px) {
	.grid {
	  grid-template-columns: repeat(3, 1fr);
	}
  
	.hamburger {
	  display: flex;
	  align-items: ;
	}
  
	.nav-list {
	  position: absolute;
	  top: 100px;
	  right: 0;
	  background-color: light-dark(var(--light),var(--dark));
	  flex-direction: column;
	  width: 100%;
	  height: auto;
	  align-items: center;
	  display: none;
	}
  
	.nav-list li {
	  margin: 20px 0;
	}
  
	nav.active .nav-list {
	  display: flex;
	}
  
	nav {
	  justify-content: flex-start;
	}
  }
  
  @media (max-width: 576px) {
	.grid {
		grid-template-columns: repeat(2, 1fr);
	  }
	}